[submodule "Plugins/Orburier"]
	path = Plugins/Orburier
	url = https://github.com/PinoRIP/Orburier.git
[submodule "Plugins/Tests/OrburierTest"]
	path = Plugins/Tests/OrburierTest
	url = https://github.com/PinoRIP/OrburierTest.git
[submodule "Plugins/OrburierTesting"]
	path = Plugins/OrburierTesting
	url = https://github.com/PinoRIP/OrburierTesting.git
[submodule "Plugins/FunK"]
	path = Plugins/FunK
	url = https://github.com/PinoRIP/FunK
